.wrapper {
	display: flex;
	justify-content: space-between;

}

.wrapper > p, .wrapper > form, .wrapper > table {
	padding: 2em;
	width: 33%;
	box-sizing: border-box;
}

.results-message {
	max-width: 600px;
}